

.flashy {
  width: 100%;
  font-style: italic;
  font-weight: bold;
  font-family: cursive;
  text-align: center;

}
body {
  background-image:url("../img/ras.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  }
.cupcake-pic img{
  width: 250px;
  height: 350px;
}


#best {
  height: 420px;

  width: ;
  float: bottom;
}
